In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
file = "new_sets.csv"
df = pd.read_csv(file, index_col=0, )

I clean the datasets here

In [ ]:
desc = df["Description"].value_counts()
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"]).dt.date
df.head()

# Product should be kept

##### We can see here in the bar Chart the items need to be kept and order more quantity and we can answer the question what product most profitable and product to be kept

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(desc.head(40).index, desc.head(40).values)
plt.xticks(rotation="vertical")
plt.title("Most Item sold from 2010-2011", fontsize=20)
plt.xlabel("Item Description", fontsize=15)
plt.ylabel("Item Quantity")
plt.show()

# Items sold within a Year

In [ ]:
inv_data = df["InvoiceDate"].value_counts().sort_index()
inv_data.head()

#### Here at the new chart, we can see the summary items most purchased by  months.

In [ ]:
plt.figure(figsize=(12,8))
inv_data.plot(color="red")
plt.xticks(rotation="vertical", fontsize=15)
plt.title("Summary for item Sold in a Year", fontsize=20)
plt.xlabel("Months", fontsize=15)
plt.ylabel("Item Release Quantity", fontsize=15)
plt.show()

# Customer who buy more often

#### Here we can see at the chart below the customer who purchased more using by their Customer ID

In [ ]:
custID = df["CustomerID"].value_counts().reset_index()
custID.columns = ["CustID","Items they buyed"]
custID["CustID"] = custID["CustID"].apply(str)
custIDx = custID.sort_values("Items they buyed", ascending=False).head(40)
custIDx.head()

#

In [ ]:
plt.figure(figsize=(12,8))
g = sns.barplot(custIDx.index, custIDx["Items they buyed"])
g.set_xticklabels(custIDx["CustID"], rotation="vertical")
plt.title("Customer who buy more often", fontsize=20)
plt.xlabel("Customer ID", fontsize=15)
plt.ylabel("Item Frequency", fontsize=15)
plt.show()

##another part

#

##### I Add the Total Amount for the item they purchased "Quantity" x "Unit Price" = "Total Amount", so I can graph the total amount they purchased per Customer

In [3]:
prod_prof = df
prod_prof["TotalAmount"] = prod_prof["Quantity"]*prod_prof["UnitPrice"]
prod_prof.head()

,InvoiceNo,InvoiceDate,CustomerID,Description,Quantity,UnitPrice,BroughtPrice,Profit,Logged OS,TotalAmount
0,536365,2010-12-01 08:26:00,17850.0,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,2.040,0.510,BlackBerry,15.30
1,536365,2010-12-01 08:26:00,17850.0,WHITE METAL LANTERN,6,3.39,2.712,0.678,IOS,20.34
2,536365,2010-12-01 08:26:00,17850.0,CREAM CUPID HEARTS COAT HANGER,8,2.75,2.200,0.550,IOS,22.00
3,536365,2010-12-01 08:26:00,17850.0,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,2.712,0.678,Symbian,20.34
4,536365,2010-12-01 08:26:00,17850.0,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,2.712,0.678,IOS,20.34

In [ ]:
prod_prof["TotalAmount"].sum() # Anually Sale

In [4]:
total_amount = prod_prof.groupby("Description")["TotalAmount","Quantity","InvoiceDate"].agg({"TotalAmount":["sum","count"],
                                                                   "Quantity":["sum","count"],
                                                                   })
total_amount.head()

                               TotalAmount                       \
                               TotalAmount       Quantity
                                       sum count      sum count
Description
 4 PURPLE FLOCK DINNER CANDLES      290.80    41      144    41
 50'S CHRISTMAS GIFT BAG LARGE     2341.13   130     1913   130
 DOLLY GIRL BEAKER                 2882.50   181     2448   181
 I LOVE LONDON MINI BACKPACK       1628.17    88      389    88
 I LOVE LONDON MINI RUCKSACK          4.15     1        1     1

                                                                                   \
                                                                      InvoiceDate
                                                                              sum
Description
 4 PURPLE FLOCK DINNER CANDLES  2010-12-01 12:49:002010-12-05 10:52:002010-12-...
 50'S CHRISTMAS GIFT BAG LARGE  2011-08-22 15:05:002011-08-30 12:49:002011-08-...
 DOLLY GIRL BEAKER              2011-07-24 16:13:002011-07-24 16:15:002011-07-...
 I LOVE LONDON MINI BACKPACK    2011-09-11 11:29:002011-09-11 13:39:002011-09-...
 I LOVE LONDON MINI RUCKSACK                                  2011-10-06 09:11:00

                                        Quantity                       \
                                     TotalAmount       Quantity
                               count         sum count      sum count
Description
 4 PURPLE FLOCK DINNER CANDLES    41      290.80    41      144    41
 50'S CHRISTMAS GIFT BAG LARGE   130     2341.13   130     1913   130
 DOLLY GIRL BEAKER               181     2882.50   181     2448   181
 I LOVE LONDON MINI BACKPACK      88     1628.17    88      389    88
 I LOVE LONDON MINI RUCKSACK       1        4.15     1        1     1

                                                                                   \
                                                                      InvoiceDate
                                                                              sum
Description
 4 PURPLE FLOCK DINNER CANDLES  2010-12-01 12:49:002010-12-05 10:52:002010-12-...
 50'S CHRISTMAS GIFT BAG LARGE  2011-08-22 15:05:002011-08-30 12:49:002011-08-...
 DOLLY GIRL BEAKER              2011-07-24 16:13:002011-07-24 16:15:002011-07-...
 I LOVE LONDON MINI BACKPACK    2011-09-11 11:29:002011-09-11 13:39:002011-09-...
 I LOVE LONDON MINI RUCKSACK                                  2011-10-06 09:11:00



                               count
Description
 4 PURPLE FLOCK DINNER CANDLES    41
 50'S CHRISTMAS GIFT BAG LARGE   130
 DOLLY GIRL BEAKER               181
 I LOVE LONDON MINI BACKPACK      88
 I LOVE LONDON MINI RUCKSACK       1

#

### We can put this as a  special occasions  products will be sold more

In [5]:
start_date = "2011-01-01" # YYYY-MM-DD
end_date = "2011-02-20" # YYYY-MM-DD

In [6]:
def monthly_sale(start_date, end_date):
    ta = total_amount
    mask = (ta.index > np.datetime64(start_date)) & (ta.index <= np.datetime64(end_date))
    
    plt.figure(figsize=(12,8))
    #ta[mask]["TotalAmount"]["sum"].plot()
    ta[mask]["TotalAmount"]["sum"].plot()
    plt.xlabel("Lenght of Days", fontsize=20)
    plt.ylabel("Total Sale", fontsize=20)
    plt.title("Summary for Selected Date", fontsize=30)
    plt.xticks(rotation="vertical")
    plt.show()
    return ta

monthly_sale(start_date, end_date)

TypeError: '<' not supported between instances of 'numpy.ndarray' and 'str'

#

# Model for Predicting sale

In [ ]:
prod_prof.head()

#

#### i clean the datasets here for our models

In [ ]:
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
total_amount.head()

In [ ]:
y = total_amount["TotalAmount"]["sum"].values
X = total_amount[["Quantity","UnitPrice"]].values

### I Split the datasets by 30%

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.30, random_state=415)  # i split the datasets here by 30%

In [ ]:
'''I am using the SVR Polynomial from the sklearn model, with iteration by 1000 '''
svr_lin = SVR(kernel="poly", C=1e-5, degree=1, max_iter=1000)
svr_lin.fit(train_x, train_y) # i feed the training sets here to our model
yhat = svr_lin.predict(train_x) # and this is the output or a prediction for our training sets
div = len(train_y) # dont mind this
div_len = len(total_amount) # dont mind this

In [ ]:
'''This is plotting section'''
fig, ax = plt.subplots(figsize=(20,8))
a = total_amount.index[0:div] # this is the date ex: '2010-10-1, 2010-10-2, 2010-10-3'
ax.plot(a, train_y, "k", label="Train sets", color="green") # i put on the plot for our expected output, this is the color green
ax.plot(a, yhat, "k--", label="Prediction", color="red") # here is the plot for prediction, this is color red in our plot
ax.legend(loc="upper right", shadow=True, fontsize=20)
plt.xticks(rotation="vertical")
plt.title("Train Prediction", fontsize=30)
plt.xlabel("Sales in a Months", fontsize=20)
plt.ylabel("Sale in a Month", fontsize=20)
plt.show()

#### We can see here the postive outcome of our model, the sets are not overfit, so lets check the prediction below for test

In [ ]:
test_yhat = svr_lin.predict(test_x)

In [ ]:
fig, ax = plt.subplots(figsize=(20,8))
a = total_amount.index[div:div_len]
ax.plot(a, test_y, "k", color="green", label="Train Test")
ax.plot(a, test_yhat, "k--", color="red", label="Prediction Test")
ax.legend(loc="upper left", shadow=True, fontsize=20)
plt.title("Test Prediction", fontsize=30)
plt.xticks(rotation="vertical")
plt.xlabel("Months Sale", fontsize=20)
plt.ylabel("Sale in Month", fontsize=20)
plt.show()

#### as we can see in the test sets, our graph for prediction is good, and we have a positive outcome, so we predict the sales by every month and also a year

#

#

# Correlation item with other items

In [ ]:
prod_prof.head()

In [ ]:
corr = pd.read_csv("datasets//correlation.zip", index_col=0, compression="zip")
corr.head()

as we can see above, customer ID brough some items

In [ ]:
cor_ = corr.corr()

In [ ]:
corr.columns

In [ ]:
def corr_items(item):
    list_item = cor_[item].sort_values(ascending=False).head(10)
    plt.figure(figsize=(12,8))
    sns.barplot(list_item.index, list_item.values)
    plt.title("Correlated Items", fontsize=30)
    plt.xlabel("Items", fontsize=20)
    plt.ylabel("Percentage of correlate", fontsize=20)
    plt.xticks(rotation="vertical")
    plt.show()
    return

item = "FIRE POLISHED GLASS NECKL GOLD"
corr_items(item)

As per the graph above, if we it can give the correlation items

# Model Prediction

In [ ]:
#for_pred = prod_prof
#new_inv = for_pred["InvoiceDate"].apply(lambda x:str(x.year) + "-" + str(x.month))
#for_pred["InvoiceDate"] = new_inv
#for_pred.head()

In [ ]:
#summary_sets = for_pred.groupby("InvoiceDate")["TotalAmount"].agg({"TotalAmount":["sum","count"]})
#summary_sets

# Summary sets sale every months

In [ ]:
#plt.figure(figsize=(12,8))
#sns.barplot(summary_sets["TotalAmount"]["sum"].index, summary_sets["TotalAmount"]["sum"].values)
#plt.show()